
.navbar {
    background-color: #1E90FF; /* Azul */
  }
  
  /* Estilo para el texto y enlaces del navbar */
  .navbar-brand {
    color: #FFD700; /* Amarillo */
  }
  
  .navbar-nav .nav-link {
    color: #FFD700; /* Amarillo */
  }
  
  /* Estilo para el enlace activo */
  .navbar-nav .nav-link.active {
    color: #FFFFFF; /* Blanco para el texto activo */
  }
  
  /* Estilo para los enlaces de navegación al pasar el ratón */
  .navbar-nav .nav-link:hover {
    background-color: #e5ecec; /* Verde Limón */
    color: #000000; /* Texto negro para contraste */
    border-radius: 5px;
  }
  
  /* Estilo para el menú desplegable */
  .dropdown-menu {
    background-color: #1E90FF; /* Azul */
  }
  
  .dropdown-menu .dropdown-item {
    color: #FFD700; /* Amarillo */
  }
  
  .dropdown-menu .dropdown-item:hover {
    background-color: #e5ecec; /* Verde Limón */
    color: #000000; /* Texto negro para contraste */
  }
  
  /* Estilo para el botón de búsqueda */
  .btn-outline-success {
    border-color: #FFD700; /* Amarillo */
    color: #FFD700; /* Amarillo */
  }
  
  /* Estilo para el botón de búsqueda al pasar el ratón */
  .btn-outline-success:hover {
    background-color: #1E90FF; /* Azul */
    color: #FFFFFF; /* Blanco */
  }
  
